@import "tailwindcss";

/* Root element full screen */
#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Tailwind utilities and components */
html {
  scroll-behavior: smooth;
}
  /* @media (max-width: 1024px) {
    font-size: 20px;
  }  */

p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
